body {
  background: white;
}

h1 {
  font-size: 2em;
  color: white;
  text-align: center;
  font-family: roboto;
  font-weight: 800;
  text-decoration: underline;
}

h2 {
  color: white;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bolder;
  text-align: center;
}

h3 {
  color: pink;
  font-weight: bold;
  text-align: right;
}

div {
  position: absolute;
  top: 50px;
  left: 600px;
  width: 500px;
  height: 500px;
  background-color: blue;
  border: 3px dotted red;
}

div#border {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 500px;
  background-color: red;
  border: 3px solid blue;
}
