body {
  font-family: roboto;
}

header {
  width: 100%;
  background: #172035;
  height: 80px;
}

img#logo {
  top: 20px;
  left: 0;
  margin-left: 100px;
  margin-right: 100px;
  position: absolute;
}

nav {
  display: inline-block;
  margin-left: 400px;
  margin-top: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 30px;
  margin-right: 20px;
}

nav a:hover {
  color: white;
  padding: 30px;
  background: #09568d;
}

section#content {
  color: white;
  top: 400px;
  left: 600px;
  position: absolute;
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 2em;
}

img#slide {
  width: 100%;
  height: auto;
}

button {
  background: #172035;
  border: none;
  width: 50%;
  height: 50px;
  color: white;
  font-size: 2em;
}

div.course {
  width: 400px;
  height: 500px;
  top: 1250px;
  left: 400px;
  position: absolute;
  border: 1px solid transparent;
}

div.course2 {
  width: 400px;
  height: 500px;
  top: 1250px;
  left: 850px;
  position: absolute;
  border: 1px solid transparent;
}

div.course3 {
  width: 400px;
  height: 500px;
  top: 1250px;
  left: 1300px;
  position: absolute;
  border: 1px solid transparent;
}

h6 {
  font-size: 1em;
}

section#about {
  background: #252525;
  color: white;
  top: 1800px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 500px;
}

div.about h1 {
  width: 100%;
  text-align: center;
}

div.students {
  background: black;
  top: 200px;
  left: 250px;
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
}

div.reviews {
  background: black;
  top: 200px;
  left: 600px;
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
}

div.courses {
  background: black;
  top: 200px;
  left: 950px;
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
}

div.content {
  background: black;
  top: 200px;
  left: 1300px;
  position: absolute;
  width: 300px;
  height: 200px;
  text-align: center;
}


section#learntech {
  background: white;
  color: black;
  top: 2300px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 500px;
}

div.learntechnow {
  top: 200px;
  left: 300px;
  position: absolute;
  width: 400px;
  height: 500px;
  text-align: center;
}

div.learntechpodcast {
  top: 200px;
  left: 750px;
  position: absolute;
  width: 400px;
  height: 500px;
  text-align: center;
}

div.learntechblog {
  top: 200px;
  left: 1200px;
  position: absolute;
  width: 400px;
  height: 500px;
  text-align: center;
}


















/* test */
