.monthly {
  height: 300px;
  width: 400px;
  top: 300px;
  left: 400px;
  position: absolute;
}

.annual {
  height: 300px;
  width: 400px;
  top: 300px;
  left: 850px;
  position: absolute;
}

.lifetime {
  height: 300px;
  width: 400px;
  top: 300px;
  left: 1300px;
  position: absolute;
}

footer {
  top: 900px;
}
